services:
  geoipupdate:
    image: ghcr.io/maxmind/geoipupdate:v6.0.0
    # Override the entrypoint in order to avoid using envvars for config.
    # Futz with settings so we can keep mmdb and conf in same dir on host
    # (image looks for them in separate dirs by default).
    entrypoint: ["/usr/bin/geoipupdate", "-d", "/geoip", "-f", "/geoip/GeoIP.conf"]
    configs:
      - source: GeoIP.conf
        target: /geoip/GeoIP.conf
    volumes:
      - "geoip:/geoip"
    deploy:
      mode: global-job

volumes:
  geoip:
    name: geoip
    external: true

configs:
  GeoIP.conf:
    file: jobs/geoipupdate/GeoIP.conf
