services:
  geoipupdate:
    image: ghcr.io/maxmind/geoipupdate:v6.0.0
    # Override the entrypoint in order to avoid using envvars for config.
    # Futz with settings so we can keep mmdb and conf in same dir on host
    # (image looks for them in separate dirs by default).
    entrypoint: ["/usr/bin/geoipupdate", "-d", "/geoip", "-f", "/geoip/GeoIP.conf"]
    configs:
      - source: GeoIP.conf
        target: /geoip/GeoIP.conf
    volumes:
      - "geoip:/geoip"
    deploy:
      mode: global-job

  create-kafka-topics:
    image: confluentinc/cp-kafka:7.5.0
    configs:
      - source: create-kafka-topics.sh
        target: /create-kafka-topics.sh
        mode: 0755
    entrypoint: ["/create-kafka-topics.sh"]
    networks:
      - sentry
    deploy:
      mode: replicated-job

networks:
  sentry:
    name: sentry
    external: true

volumes:
  geoip:
    name: geoip
    external: true

configs:
  GeoIP.conf:
    file: services/geoipupdate/GeoIP.conf
  create-kafka-topics.sh:
    file: services/kafka/create-kafka-topics.sh
